// footer组件
.l-footer {
  // width: 50%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 50px;
  position: relative;
  display: flex;

  &-icon {
    position: absolute;
    right: 2%;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }

  &-history {
    left: -4%;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .ant-input {
    height: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    // border-color: #fff;
    font-size: 16px;
    border-color: transparent;
    border: 1px solid #ccc;
  }

}

.l-footer-listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f8;
  margin: 4px 0;
  width: 100%;
  height: 30px;
  padding: 5px;

  &-icon {
    cursor: pointer;
  }
}
