.l-layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

// Main组件
.l-main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .ant-menu-item {
    text-align: center;
    padding-left: 0 !important;
  }
}

.l-drawer {
  background-color: transparent !important;
}

.ant-drawer-content-wrapper {
  width: auto !important;
}