/* 提问框 */
.question-container {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 1.3333vw;
  position: relative;
  display: flex;
  /* align-items: center; */
  font-size: 3.6667vw;
  min-height: 10.3333vw;
  max-height: 14.3333vw;
  overflow: auto;
}

.question-icon {
  width: 4.2667vw!important;
  height: 4.2667vw !important;
  line-height: 4.2667vw !important;
  /* position: absolute; */
  /* left: 0; */
  /* top: 1.3333vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3333vw;
  /* transform: translateY(-50%); */
  background-color: #87d068 !important;
}

.question-content {
  flex: 1;
  margin-left: 1.3333vw;
  /* margin-left: 40px; */
  height: 100%;
  margin-top: -0.8vw;
}

/* 删除按钮 */
.question-del {
  position: absolute;
  right: 2.6667vw;
  top: 1.8667vw;
  width: 2.6667vw !important;
  height: 2.6667vw !important;
  font-size: 14px !important;
  box-shadow:  0 0 1px 0 rgba(0, 0, 0, 0.5) !important;
}

@media screen and (min-width: 751px) {
  .question-container {
    max-height: 200px;
    padding: 20px;
    font-size: 3.6667vw;
    min-height: 80px;
  }

  .question-icon {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }

  .question-content {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0;
  }

  .question-del {
    width: 24px !important;
    height: 24px !important;
    font-size: 14px !important;
  }
}
